{% extends "base-auth.twig" %}

{% block content %}

<form method="post">
    <p class="title">{{ title }}</p>
    <label>
        <p>{{ __('Email', TEXTDOMAIN) }}</p>
        <input type="email" required name="uEmail" value="{{ request.post.uEmail }}">
    </label>
    <label>
        <p>{{ __('Password', TEXTDOMAIN) }}</p>
        <span class="showHide show" data-hide="{{ __('Hide', TEXTDOMAIN) }}">{{ __('Show', TEXTDOMAIN) }}</span>
        <input type="password" required name="uPassword" id="password">
    </label>
    <input type="hidden" name="nonce" value="{{ fn('wp_create_nonce', 'login') }}">
    {% if text %}
    <div class="agree typo">
        {{ text }}
    </div>
    {% endif %}
    <div class="submitCenter">
        <input type="submit" value="{{ __('Log in', TEXTDOMAIN) }}">
    </div>
</form>

{% endblock %}
