{% extends "base-auth.twig" %}

{% block content %}

<form method="post">
    <p class="title">{{ title }}</p>
    <label>
        <p>{{ __('New password', TEXTDOMAIN) }}</p>
        <span class="showHide show" data-hide="{{ __('Hide', TEXTDOMAIN) }}">{{ __('Show', TEXTDOMAIN) }}</span>
        <input type="password" required name="u_n_password" id="password">
        <ul class="recommendations">
            <li class="length">{{ __('Password should be at least 8 characters long.', TEXTDOMAIN) }}</li>
            <li class="lowercase">{{ __('Password should contain at least one lowercase letter.', TEXTDOMAIN) }}</li>
            <li class="uppercase">{{ __('Password should contain at least one uppercase letter.', TEXTDOMAIN) }}</li>
            <li class="digits">{{ __('Password should contain at least one digit.', TEXTDOMAIN) }}</li>
            <li class="special">{{ __('Password should contain at least one special character.', TEXTDOMAIN) }}</li>
        </ul>
    </label>
    <input type="hidden" name="nonce" value="{{ fn('wp_create_nonce', 'password-reset') }}">
    <input type="hidden" name="u_email" value="{{ decoded.u_email }}">
    <input type="hidden" name="request_redirect_nonce" value="{{ decoded.request_redirect_nonce }}">
    {% if text %}
    <div class="agree typo">
        {{ text }}
    </div>
    {% endif %}
    <div class="submitCenter">
        <input type="submit" value="{{ __('Change my password', TEXTDOMAIN) }}">
    </div>
</form>

{% endblock %}
