{% extends "base-profile.twig" %}

{% block content %}

<h3 class="title">{{ __('Change password', TEXTDOMAIN) }}</h3>

<form method="post" action="?password=change">
    <input type="hidden" name="nonce" value="{{ fn('wp_create_nonce', 'password-change') }}">
    <label>
        <p class="label">{{ __('Your old password', TEXTDOMAIN) }}:</p>
        <input type="password" required name="u_o_password" value="" autocomplete="new-password">
    </label>
    <label>
        <p class="label">{{ __('Your new password', TEXTDOMAIN) }}:</p>
        <input type="password" required name="u_n_password" value="" autocomplete="new-password">
    </label>
    <ul class="recommendations">
        <li class="length">{{ __('Password should be at least 8 characters long.', TEXTDOMAIN) }}</li>
        <li class="lowercase">{{ __('Password should contain at least one lowercase letter.', TEXTDOMAIN) }}</li>
        <li class="uppercase">{{ __('Password should contain at least one uppercase letter.', TEXTDOMAIN) }}</li>
        <li class="digits">{{ __('Password should contain at least one digit.', TEXTDOMAIN) }}</li>
        <li class="special">{{ __('Password should contain at least one special character.', TEXTDOMAIN) }}</li>
    </ul>
    <input type="submit" style="display: none;">
    <button>{{ __('Change my password', TEXTDOMAIN) }}</button>
</form>

{% endblock %}
