<br>
<h2>{{ __('Extra profile data', TEXTDOMAIN) }}</h2>
<table class="form-table">
    <tr>
        <th><label for="user_email_confirmed">{{ __('Confirmed Email?', TEXTDOMAIN) }}</label></th>
        <td>
            <input type="checkbox" name="user_email_confirmed" id="user_email_confirmed" value="1"{% if fn('get_user_meta', user.ID, 'user_email_confirmed', true) %} checked="checked" {% endif%} /><br />
        </td>
    </tr>
    <tr>
        <th><label for="user_phone">{{ __('Phone', TEXTDOMAIN) }}</label></th>
        <td>
            <input type="text" name="user_phone" id="user_phone" placeholder="+380..." class="regular-text" value="{{ fn('get_user_meta', user.ID, 'user_phone', true) }}" /><br />
        </td>
    </tr>
    <tr>
        <th><label for="user_phone_confirmed">{{ __('Confirmed phone?', TEXTDOMAIN) }}</label></th>
        <td>
            <input type="checkbox" name="user_phone_confirmed" id="user_phone_confirmed" value="1"{% if fn('get_user_meta', user.ID, 'user_phone_confirmed', true) %} checked="checked" {% endif%} /><br />
        </td>
    </tr>
</table>
<br>
<h2>{{ __('Technical data', TEXTDOMAIN) }}</h2>
<table class="form-table">
    <tr>
        <th><label for="user_email_verification_code_for_link">{{ __('User email verification code for link', TEXTDOMAIN) }}</label></th>
        <td>
            <input disabled readonly type="text" name="user_email_verification_code_for_link" id="user_email_verification_code_for_link" class="regular-text" value="{{ fn('get_user_meta', user.ID, 'user_email_verification_code_for_link', true) }}" /><br />
        </td>
    </tr>
    <tr>
        <th><label for="user_email_verification_code">{{ __('User email verification code', TEXTDOMAIN) }}</label></th>
        <td>
            <input disabled readonly type="text" name="user_email_verification_code" id="user_email_verification_code" class="regular-text" value="{{ fn('get_user_meta', user.ID, 'user_email_verification_code', true) }}" /><br />
        </td>
    </tr>
    <tr>
        <th><label for="user_email_verification_code_for_link">{{ __('Password recovery code for link', TEXTDOMAIN) }}</label></th>
        <td>
            <input disabled readonly type="text" name="password_recovery_code_for_link" id="password_recovery_code_for_link" class="regular-text" value="{{ fn('get_user_meta', user.ID, 'password_recovery_code_for_link', true) }}" /><br />
        </td>
    </tr>
    <tr>
        <th><label for="user_sms_verification_code">{{ __('User sms verification code', TEXTDOMAIN) }}</label></th>
        <td>
            <input disabled readonly type="text" name="user_sms_verification_code" id="user_sms_verification_code" class="regular-text" value="{{ fn('get_user_meta', user.ID, 'user_sms_verification_code', true) }}" /><br />
        </td>
    </tr>
</table>
