{% extends "mail/email.twig" %}

{% block email_content %}

<p>{{ __('Hi friend! Perhaps you requested a password reset for your account?', TEXTDOMAIN) }}</p>
<p>{{ __('By clicking on link below you`ll be redirected to page that helps you to change your password.', TEXTDOMAIN) }}</p>
<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
    <tbody>
    <tr>
        <td align="left">
            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                <tr>
                    <td> <a href="{{ password_recovery_link }}" target="_blank">{{ __('Change my password!', TEXTDOMAIN) }}</a></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<p>{{ __('Code', TEXTDOMAIN) }}: {{ password_recovery_code }}</p>
<p>{{ __('We hope, you`ll be happy to work with us!', TEXTDOMAIN) }}</p>

{% endblock %}
