{% extends "base-auth.twig" %}

{% block content %}

<form method="post">
    <p class="title">{{ post.title }}</p>
    <label>
        <p>{{ __('Email', TEXTDOMAIN) }}</p>
        <input type="email" required name="uEmail" value="{{ request.post.uEmail }}">
    </label>
    <input type="hidden" name="nonce" value="{{ fn('wp_create_nonce', 'forgot-password') }}">
    {% if fields.text %}
    <div class="agree typo">
        {{ fields.text }}
    </div>
    {% endif %}
    <div class="submitCenter">
        <input type="submit" value="{{ __('Submit', TEXTDOMAIN) }}">
    </div>
</form>

{% endblock %}
