{% extends "base.twig" %}

{% block content %}

{% set rating = fn('get_catalog_item_rating', post.id) %}
{% set feedback = fn('get_catalog_item_feedback', post.id) %}
{% set related = fn('get_related_catalog_items', post.id, fn('get_the_terms', post.id, 'catalog_categories')) %}

<div class="singleCatalogItemWrapper">
    <div class="singleCatalogItem">
        <div class="columns">
            <div class="col">
                <div class="sticky">
                    <div class="swiper frame">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a
                                    href="{{ fields.photo.url }}"
                                    class="fancybox"
                                    data-fancybox="gallery"
                                    data-buttons="false">
                                    {{ fields.photo | picture }}
                                </a>
                            </div>
                            {% if fields.gallery is iterable %}
                                {% for key,val in fields.gallery %}
                                    <div class="swiper-slide">
                                        <a
                                            href="{{ val.url }}"
                                            class="fancybox"
                                            data-fancybox="gallery"
                                            data-buttons="false">
                                            {{ val | picture }}
                                        </a>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                    {% if fields.gallery is iterable %}
                    <div thumbsSlider="" class="swiper thumbnails">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    {{ fields.photo | picture }}
                                </div>
                                {% for key,val in fields.gallery %}
                                    <div class="swiper-slide">
                                        {{ val | picture }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col">
                <div class="head">
                    <h1 class="title">{{ post.title }}</h1>
                    <p class="status {{ fields.status.value }}">{{ fields.status.label }}</p>
                </div>
                <div class="subHeadBack">
                    <p><a href="{{ site.url }}">← Повернутися на головну</a></p>
                </div>
                {% if general_fields.shop.show_rating %}
                {% include 'overall/rating.twig' %}
                {% endif %}
                <div class="priceAndCart">
                    <div class="col">
                        <p class="price">
                            <span>{{ fields.price }}</span>
                            <span>₴</span>
                        </p>
                    </div>
                    <div class="col">
                        {% if fields.status.value == "in_stock" %}
                        <button data-id="{{ post.id }}" class="add_to_cart">
                            <svg>
                                <use href="{{ svg_sprite }}#iconCart"></use>
                            </svg>
                            <span>Купити</span>
                        </button>
                        {% endif %}
                    </div>
                </div>
                <div class="reminderWrapper">
                    <div class="reminder typo">
                        <p>При замовленні від 5 пляшок квасу, ціна за одну – 60 гривень 🎉</p>
                    </div>
                </div>
                <ul class="tabsWrapper">
                    <li class="active"><a href="#description">Опис</a></li>
                    <li><a href="#characteristics">Характеристики</a></li>
                </ul>
                {% if fields.description %}
                <div class="descriptionWrapper show">
                    <div class="description short typo">
                        {{ fields.description }}
                    </div>
                    <button>Показати більше</button>
                </div>
                {% endif %}
                {% if fields.characteristics and fields.characteristics is iterable %}
                <div class="characteristicsWrapper">
                    {% for val in fields.characteristics %}
                    <div class="line">
                        <p class="label">{{ val.label }}:</p>
                        <p class="value">{{ val.value }}</p>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                {% if related and related is iterable %}
                <div class="otherItemsWrapper">
                    <h2 class="otherItemsTitle">Інші смаки</h2>
                    <div class="goods">
                        {% for key,val in related %}
                        {% include 'overall/catalog-item-simple.twig' %}
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                <div class="feedbackWrapper">
                    <h3 class="feedbackTitle">{{ __('Your reviews', TEXTDOMAIN) }}</h3>
                    {% if feedback and feedback is iterable %}
                    <div class="feedbackItems">
                        {% for key,post in feedback %}
                        <div class="feedbackItem">
                            {% include 'overall/feedback-single-item.twig' %}
                        </div>
                        {% endfor %}
                    </div>
                    {% else %}
                    <div class="typo">
                        <p>{{ __('There are no reviews yet, but yours could be the first!', TEXTDOMAIN) }} 😉</p>
                    </div>
                    {% endif %}
                    {% if user %}
                    <form class="feedbackForm">
                        <input type="hidden" name="review_for_id" value="{{ post.id }}">
                        <input type="hidden" name="action" value="feedback_form_submit">
                        <p class="label">{{ __('Rate us', TEXTDOMAIN) }}</p>
                        <div class="buttons">
                            <label>
                                <input type="radio" name="rate" value="1">
                                <p class="label">1</p>
                            </label>
                            <label>
                                <input type="radio" name="rate" value="2">
                                <p class="label">2</p>
                            </label>
                            <label>
                                <input type="radio" name="rate" value="3">
                                <p class="label">3</p>
                            </label>
                            <label>
                                <input type="radio" name="rate" value="4">
                                <p class="label">4</p>
                            </label>
                            <label>
                                <input type="radio" name="rate" value="5">
                                <p class="label">5</p>
                            </label>
                            <label>
                                <input type="radio" name="rate" value="6">
                                <p class="label">6</p>
                            </label>
                            <label>
                                <input type="radio" name="rate" value="7">
                                <p class="label">7</p>
                            </label>
                            <label>
                                <input type="radio" name="rate" value="8">
                                <p class="label">8</p>
                            </label>
                            <label>
                                <input type="radio" name="rate" value="9">
                                <p class="label">9</p>
                            </label>
                            <label>
                                <input type="radio" name="rate" value="10">
                                <p class="label">10</p>
                            </label>
                        </div>
                        <label>
                            <p class="label">{{ __('Enter your review', TEXTDOMAIN) }}</p>
                            <textarea name="review" class="required"></textarea>
                        </label>
                        <button>{{ __('Leave review', TEXTDOMAIN) }}</button>
                        <input type="submit" style="display: none;">
                    </form>
                    {% else %}
                    <div class="overallButton green inline">
                        {% set auth_url = site.url~'/'~general_fields.auth.login.url~'/' %}
                        <a href="{{ auth_url }}">
                            <span>{{ __('Leave review', TEXTDOMAIN) }}</span>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
