{% set post = Post(val) %}
{% set price = post.meta('price') %}
{% set status = post.meta('status') %}
<div class="item scroll-show">
    <a href="{{ post.link }}" class="thumbnail">
        {{ post.meta('photo') | picture }}
    </a>
    <p class="title">
        <a href="{{ post.link }}">
            {{ post.title }}
        </a>
    </p>
    <div class="columns">
        <div class="col">
            <p class="price">
                <span>{{ price }}</span>
                <span>₴</span>
            </p>
        </div>
        <div class="col">
            {% if status.value == "in_stock" %}
            <button data-id="{{ post.id }}" class="add_to_cart">
                <svg>
                    <use href="{{ svg_sprite }}#iconCart"></use>
                </svg>
                <span>Купити</span>
            </button>
            {% endif %}
        </div>
    </div>
</div>
