<header>
    <div class="inner">
        <div class="left">
            {% if general_fields.overall.logo_label %}
            <p class="logo{% if fn('is_front_page') %} scroll-top{% endif %}">
                {% if not fn('is_front_page') %}
                <a href="{{ site.url }}">
                {% endif %}
                    {{ general_fields.overall.logo_label }}
                {% if not fn('is_front_page') %}
                </a>
                {% endif %}
            </p>
            {% endif %}
        </div>
        <div class="right">
            {% if general_fields.header.menu.html %}
            <nav>
                <ul>
                    {{ general_fields.header.menu.html }}
                </ul>
            </nav>
            {% endif %}
            {% if general_fields.header.phones is iterable %}
            <div class="phones">
                <svg>
                    <use href="{{ svg_sprite }}#iconCall"></use>
                </svg>
                <p>
                    <a href="tel:{{ general_fields.header.phones[0].phone | fix_phone }}">
                        {{ general_fields.header.phones[0].phone | nice_phone }}
                    </a>
                </p>
                <ul>
                {% for key,val in general_fields.header.phones %}
                {% if key > 0 %}
                <li>
                    <a href="tel:{{ val.phone | fix_phone }}">
                        {{ val.phone | nice_phone }}
                    </a>
                </li>
                {% endif %}
                {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% if current_page != 'checkout' %}
            <button class="cart">
                <svg>
                    <use href="{{ svg_sprite }}#iconCart"></use>
                </svg>
                <span class="counter{% if cart_amount %} show{% endif %}{% if cart_amount|length == 3 %} small{% endif %}">{{ cart_amount }}</span>
            </button>
            {% endif %}
            {% if fn('current_user_can', 'administrator') or fn('current_user_can', 'editor') %}
            <a href="/wp-admin/" class="wp">
                <svg><use xlink:href="{{ svg_sprite }}#wp"></use></svg>
            </a>
            {% endif %}
            {% if user %}
                {% set account_url = site.url~'/'~general_fields.profile.url~'/' %}
            {% else %}
                {% set account_url = site.url~'/'~general_fields.auth.login.url~'/' %}
            {% endif %}
            <a href="{{ account_url }}" class="account">
                <svg>
                    <use href="{{ svg_sprite }}#iconAccount"></use>
                </svg>
            </a>
            {% if general_fields.mobile.menu.html %}
            <button class="burger">
                <span></span>
            </button>
            {% endif %}
        </div>
    </div>
</header>
{% if general_fields.mobile.menu.html %}
<section class="mobileMenu">
    <div class="menuWrapper">
        <ul class="menu">
            {{ general_fields.mobile.menu.html }}
        </ul>
    </div>
    {% if general_fields.mobile.phones is iterable %}
    <ul class="phones">
        {% for key,val in general_fields.mobile.phones %}
        <li>
            <a href="tel:{{ val.phone | fix_phone }}">
                <svg>
                    <use href="{{ svg_sprite }}#iconCall"></use>
                </svg>
                <span>{{ val.phone | nice_phone }}</span>
            </a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if general_fields.mobile.socials is iterable %}
    <ul class="socials">
        {% for key,val in general_fields.mobile.socials %}
            <li class="{{ val.type }}">
                <a href="{{ val.link }}" target="_blank">
                    <svg>
                        <use href="{{ svg_sprite }}#iconSoc-{{ val.type }}"></use>
                    </svg>
                </a>
            </li>
        {% endfor %}
    </ul>
    {% endif %}
</section>
{% endif %}
