<label for="{{ label }}">
    <span class="label">{{ description }}</span>
    <input type="password" class="widget-options-text" name="{{ label }}" id="{{ label }}" value="{{ value }}" autocomplete="new-password" />
</label>
