<label for="{{ label }}">
    <span class="label">{{ description }}</span>
    <textarea name="{{ label }}" id="{{ label }}" rows="4" class="large-text widget-options-textarea">{{ value }}</textarea>
</label>
